In [ ]:
import pandas as pd

In [29]:
pd.read_html("./data/nancy.html")[0].to_csv("./data/nancy.tsv", sep="\t", index=False)

In [36]:
nancy = pd.read_csv('./data/nancy.tsv', delimiter="\t")

nancy = nancy.rename(columns={"Transaction Date": "Date", "Ticker": "Name", "Full Name": "Ticker"})
nancy["Date"] = pd.to_datetime(nancy["Date"])

nancy.to_csv("./data/nancy.tsv", sep="\t")
nancy.head()

,Date,Name,Ticker,Transaction,Amount (USD),Description
0,2025-06-20,BROADCOM INC.,AVGO,Purchase,"1,000,001 - 5,000,000",Exercised 200 Call Options
1,2025-01-14,"AMAZON.COM, INC.",AMZN,Purchase,"250,001 - 500,000",Purchased 50 Call Options
2,2025-01-14,ALPHABET INC.,GOOGL,Purchase,"250,001 - 500,000",Purchased 50 Call Options
3,2025-01-14,NVIDIA CORPORATION,NVDA,Purchase,"250,001 - 500,000",Purchased 50 Call Options
4,2025-01-14,"TEMPUS AI, INC.",TEM,Purchase,"50,001 - 100,000",Purchased 50 Call Options